In [25]:
import pandas as pd
import plotly.express as px
from pathlib import Path
from datetime import datetime

In [26]:
# Defino o diret√≥rio raiz para procurar arquivos no projeto
BASE_DIR = Path().resolve().parent

# Defino o caminho para o arquivo CSV
car_data_path = BASE_DIR / "data/vehicles.csv"
car_data = pd.read_csv(car_data_path)  # lendo os dados
print(car_data.head())  # mostrando as primeiras linhas do dataframe

   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28

In [27]:
car_data = car_data.dropna()

In [28]:
car_data["model_year"] = car_data["model_year"].astype(str)
car_data["model_year"] = car_data["model_year"].str.split(".").str[0]
car_data["model_year"] = pd.to_numeric(
    car_data["model_year"], errors="coerce"
).astype("Int64")
car_data["odometer"] = car_data["odometer"].astype(str)
car_data["odometer"] = car_data["odometer"].str.split(".").str[0]
car_data["odometer"] = pd.to_numeric(
    car_data["odometer"], errors="coerce"
).astype("Int64")
car_data["cylinders"] = car_data["cylinders"].astype(str)
car_data["cylinders"] = car_data["cylinders"].str.split(".").str[0]
car_data["cylinders"] = pd.to_numeric(
    car_data["cylinders"], errors="coerce"
).astype("Int64")
car_data["is_4wd"] = car_data["is_4wd"].astype(str)
car_data["is_4wd"] = car_data["is_4wd"].str.split(".").str[0]
car_data["is_4wd"] = pd.to_numeric(car_data["is_4wd"], errors="coerce").astype(
    "Int64"
)

print(car_data["model_year"])
print(car_data["odometer"])
print(car_data["cylinders"])
print(car_data["is_4wd"])

5        2014
7        2013
10       2011
14       2009
16       2010
         ...
51494    2009
51500    2012
51509    2010
51513    2014
51515    2005
Name: model_year, Length: 14852, dtype: Int64
5         57954
7        109473
10       128413
14       132285
16       130725
          ...
51494     95021
51500    157000
51509    121778
51513    154000
51515    228000
Name: odometer, Length: 14852, dtype: Int64
5        6
7        6
10       8
14       8
16       8
        ..
51494    6
51500    6
51509    4
51513    8
51515    8
Name: cylinders, Length: 14852, dtype: Int64
5        1
7        1
10       1
14       1
16       1
        ..
51494    1
51500    1
51509    1
51513    1
51515    1
Name: is_4wd, Length: 14852, dtype: Int64

In [29]:
car_data['brand'] = car_data['model'].str.split(' ').str[0]
car_data['model'] = car_data['model'].str.split(' ').str[1]
print(car_data['brand'])
print(car_data['model'])

5         chrysler
7            honda
10       chevrolet
14             gmc
16             ram
           ...
51494    chevrolet
51500        buick
51509       subaru
51513          ram
51515    chevrolet
Name: brand, Length: 14852, dtype: object
5              300
7            pilot
10       silverado
14           yukon
16            1500
           ...
51494      equinox
51500      enclave
51509      impreza
51513         1500
51515    silverado
Name: model, Length: 14852, dtype: object

In [35]:
car_data["date_posted"] = pd.to_datetime(
    car_data["date_posted"], errors="coerce"
)
# Reordenar colunas
car_data = car_data[
    [
        "date_posted",
        "brand",
        "model",
        "model_year",
        "odometer",
        "cylinders",
        "is_4wd",
        "transmission",
        "type",
        "paint_color",
        "days_listed",
        "price",
    ]
]

print(car_data.head())

   date_posted      brand      model  model_year  odometer  cylinders  is_4wd  \
5   2018-06-20   chrysler        300        2014     57954          6       1
7   2019-01-07      honda      pilot        2013    109473          6       1
10  2018-09-17  chevrolet  silverado        2011    128413          8       1
14  2019-01-31        gmc      yukon        2009    132285          8       1
16  2018-12-30        ram       1500        2010    130725          8       1

   transmission    type paint_color  days_listed  price
5     automatic   sedan       black           15  14990
7     automatic     SUV       black           68  15990
10    automatic  pickup       black           38  19500
14    automatic     SUV       black           24  12990
16    automatic  pickup         red           13  14990

In [41]:
df_brands = car_data.groupby("brand").agg(
    {
        "cylinders": "mean",
        "odometer": "mean",
        "is_4wd": "mean",
        "days_listed": "mean",
        "price": "mean",
    }
)
df_brands = df_brands.reset_index()
df_brands[["cylinders", "odometer", "is_4wd", "days_listed", "price"]] = (
    df_brands[
        ["cylinders", "odometer", "is_4wd", "days_listed", "price"]
    ].astype(int)
)

df_transmission = car_data.groupby("transmission").agg(
    {
        "cylinders": "mean",
        "odometer": "mean",
        "is_4wd": "mean",
        "days_listed": "mean",
        "price": "mean",
    }
)
df_transmission = df_transmission.reset_index()
df_transmission[
    ["cylinders", "odometer", "is_4wd", "days_listed", "price"]
] = df_transmission[
    ["cylinders", "odometer", "is_4wd", "days_listed", "price"]
].astype(int)

df_type = car_data.groupby("type").agg(
    {
        "cylinders": "mean",
        "odometer": "mean",
        "is_4wd": "mean",
        "days_listed": "mean",
        "price": "mean",
    }
)

df_type = df_type.reset_index()
df_type[["cylinders", "odometer", "is_4wd", "days_listed", "price"]] = df_type[
    ["cylinders", "odometer", "is_4wd", "days_listed", "price"]
].astype(int)

print(df_brands)
print('\n', df_transmission)
print('\n', df_type)

         brand  cylinders  odometer  is_4wd  days_listed  price
0        acura          6    163705       1           53   9604
1          bmw          6    113899       1           42  10821
2        buick          6    118101       1           43  11313
3     cadillac          7    120405       1           41  18845
4    chevrolet          7    119657       1           39  17305
5     chrysler          6     77947       1           42  13805
6        dodge          7    114911       1           36   5016
7         ford          7    120925       1           39  15732
8          gmc          7    123784       1           40  17438
9        honda          4    128334       1           38   8554
10     hyundai          5    109203       1           42   8137
11        jeep          6    110910       1           39  13439
12         kia          4    101034       1           41   9704
13      nissan          5     72050       1           38  13937
14         ram          7    117079       1           39  20166
15      subaru          4    120080       1           40   8881
16      toyota          6    122709       1           40  14452
17  volkswagen          5    101136       1           49   6061

   transmission  cylinders  odometer  is_4wd  days_listed  price
0    automatic          6    119520       1           39  15631
1       manual          5    132969       1           39  11424
2        other          7     51596       1           37  15874

            type  cylinders  odometer  is_4wd  days_listed  price
0           SUV          6    118968       1           39  12035
1   convertible          5    102328       1           44  11559
2         coupe          9     37240       1           36   1620
3     hatchback          4    124117       1           47   6575
4      mini-van          6    140374       1           52   8584
5       offroad          6    119103       1           41  14737
6         other          5    118324       1           40  12424
7        pickup          7    114431       1           39  18760
8         sedan          5     89160       1           41   7883
9         truck          7    120416       1           39  18418
10          van          6    113743       1           46   7064
11        wagon          4    118689       1           40   9828

In [42]:
df_brands = df_brands.sort_values(by="price", ascending=False)
df_type = df_type.sort_values(by="price", ascending=False)
df_transmission = df_transmission.sort_values(by="price", ascending=False)


print(df_brands)
print('\n', df_transmission)
print('\n', df_type)

         brand  cylinders  odometer  is_4wd  days_listed  price
14         ram          7    117079       1           39  20166
3     cadillac          7    120405       1           41  18845
8          gmc          7    123784       1           40  17438
4    chevrolet          7    119657       1           39  17305
7         ford          7    120925       1           39  15732
16      toyota          6    122709       1           40  14452
13      nissan          5     72050       1           38  13937
5     chrysler          6     77947       1           42  13805
11        jeep          6    110910       1           39  13439
2        buick          6    118101       1           43  11313
1          bmw          6    113899       1           42  10821
12         kia          4    101034       1           41   9704
0        acura          6    163705       1           53   9604
15      subaru          4    120080       1           40   8881
9        honda          4    128334       1           38   8554
10     hyundai          5    109203       1           42   8137
17  volkswagen          5    101136       1           49   6061
6        dodge          7    114911       1           36   5016

   transmission  cylinders  odometer  is_4wd  days_listed  price
2        other          7     51596       1           37  15874
0    automatic          6    119520       1           39  15631
1       manual          5    132969       1           39  11424

            type  cylinders  odometer  is_4wd  days_listed  price
7        pickup          7    114431       1           39  18760
9         truck          7    120416       1           39  18418
5       offroad          6    119103       1           41  14737
6         other          5    118324       1           40  12424
0           SUV          6    118968       1           39  12035
1   convertible          5    102328       1           44  11559
11        wagon          4    118689       1           40   9828
4      mini-van          6    140374       1           52   8584
8         sedan          5     89160       1           41   7883
10          van          6    113743       1           46   7064
3     hatchback          4    124117       1           47   6575
2         coupe          9     37240       1           36   1620